body {
    font-size: 20px;
}

.box {
    border: 1px solid;
    padding: 20px;
    margin: 20px auto;
    em {
        font-weight: bold;
    }
}

.azul {    
    @extend .box; // Herança de seletor (Herda as propriedades da classe informada)
    color: #000080;
    border-color: blue;
}

.vermelho {    
    @extend .box; // Herança de seletor
    color: darkred;
    border-color: red;
}

.laranja {    
    @extend .box; // Herança de seletor
    color: orangered;
    border-color: orangered;
}