@import "variaveis.scss";

body {
    font-size: 20px;
}

.box {
    border: 1px solid;
    padding: 20px;
    margin: 20px auto;
    em {
        font-weight: bold;
    }
}

.azul {    
    @extend .box; // Herança de seletor (Herda as propriedades da classe informada)
    $azul: #000080 !default; // Recebe o valor da variavel azul, se ela não existir recebe a cor setada como padrão, se remover o default a cor informada irá sobreescrever a cor da variável
    color: $azul; 
    border-color: blue;
}

.vermelho {    
    @extend .box; // Herança de seletor
    color: $vermelho;
    border-color: red;
}

.laranja {    
    @extend .box; // Herança de seletor
    color: $laranja;
    border-color: orangered;
}