@import "variaveis";
@import "functions";

@function fixBorder($cor) {
    @return desaturate(darken($cor, 25%), 50%);
}

body {
    font-size: 20px;
}

.box {
    border: 5px solid;
    padding: 20px;
    margin: 20px auto;
    color: gray;   
    background-color: $azul;
    em {
        font-weight: bold;
    }
}

.azul {    
    @extend .box; // Herança de seletor (Herda as propriedades da classe informada)
    // $azul: #0101bb !default; // Recebe o valor da variavel azul, se ela não existir recebe a cor setada como padrão, se remover o default a cor informada irá sobreescrever a cor da variável
    color: white;
    border-color: fixBorder($azul);
    // border-color: desaturate($azul, 50%);
}

.vermelho {    
    @extend .box; // Herança de seletor
    color: $vermelho;
    border-color: red;
}

.laranja {    
    @extend .box; // Herança de seletor
    color: $laranja;
    border-color: orangered;
}